body {
  padding: 65px 0;
}

.navbar {
  background: #FEF800;
}

.navbar .container {
  padding: 0 15px;
}

.navbar .logo img {
  margin: 10px 0;
}

.navbar-brand span {
  font-weight: 600;
}

.navbar-brand, .navbar-brand:hover {
  color: #333;
}

.navbar-toggle {
  border-color: rgba(0, 0, 0, 0.5);
  margin-left: 15px;
}

.navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-collapse {
  border: none;
}

.navbar-nav a {
  color: #666;
}

.navbar-nav > .active > a {
  background-color: transparent;
  margin-bottom: -3px;
  color: #333;
}

.navbar-nav > .active {
  border-bottom: 3px solid #333;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.05);
  color: #333;
}

.form-control {
  box-shadow: none;
}

.form-control:focus {
  border-color: #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.input-group .form-control:first-child {
  border-right: none;
}

.btn .glyphicon {
  vertical-align: -1px;
}

.tag-form-list {
  position: fixed;
  top: 60px;
  z-index: 10000;
  max-height: 400px;
  overflow: auto;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
}

.tag-form-list .list-group-item {
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
}

.tag-form-list .list-group-item.active, .tag-form-list .list-group-item:hover {
  background-color: #FEF800;
}

.tag-form > * {
  float: left;
  margin-right: 0.3em;
}

.tag-form > :first-child {
  margin-left: 60px;
}

#resources {
  clear: both;
}

#resources .product {
  display: inline-block;
  float: none;
  margin-left: -0.3em;
  vertical-align: top;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #resources .product {
    max-width: 400px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
  }

  .tag-form {
    clear: both;
  }
}

.product cite {
  font-style: italic;
  text-align: center;
  margin: auto;
  display: block;
}

.product .desc {
  text-align: justify;
}

.tag-form .input-group {
  max-width: 300px;
}

.alert-info {
  background-color: rgba(254, 248, 0, 0.4);
  border-color: #E6E000;
  color: #333;
}

.page-header {
  border-color: #cccccc;
}

.two-up:before,
.three-up:before,
.two-up:after,
.three-up:after {
  display: table;
  content: " ";
}

.two-up:after, .three-up:after {
  clear: both;
}

.two-up, .three-up {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.two-up:last-child, .three-up:last-child {
  border-bottom: none;
}

.three-up {
  text-align: justify;
  display: table;
  padding-top: 40px;
}

.three-up > :not(:last-child) {
  border-right: 1px solid #cccccc;
}

.three-up > * {
  display: table-cell;
  float: none;
}

.three-up > * > :first-child {
  margin-top: -30px;
}

a.product, .product a.desc {
  color: inherit;
  text-decoration: inherit;
}

a.product:hover h3, a.product:hover h4, .product a.desc:hover h3, .product a.desc:hover h4 {
  text-decoration: underline;
}

.product img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

.product h3, .product h4 {
  text-align: center;
  font-weight: 300;
}

.product .lead {
  text-align: center;
}

.no-top {
  margin-top: 0;
}

.jumbotron {
  background: transparent;
}

section > h2 {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
}

code.inline {
  white-space: normal;
}

/* Fix problem with bootstrap making prism code blocks wrap */
.line-numbers {
  word-break: normal;
  word-wrap: normal;
}

.btn-primary {
  background-color: #FEF800;
  color: #333;
  border-color: #C2BD00;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #F2ED00;
  border-color: #C7C200;
  color: #333;
}

.codeblock {
  position: relative;
}

.codeblock-container {
  position: relative;
}

.codeblock-container[data-type]:before {
  display: block;
  content: attr(data-type);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: right;
  color: #aaa;
  position: absolute;
  right: -80px;
  bottom: 70px;
  width: 100px;
  height: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.codeblock pre {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
  border-top-style: none;
}

.codeblock :first-child pre {
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
}

.codeblock :last-child pre {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.example-button {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.token {
  position: relative;
  z-index: 5;
}

.line-highlight {
  margin-top: -1px;
  left:;
  width: 400px;
  display: block;
  z-index: 1;
  background: rgba(254, 248, 0, 0.5);
  background: -moz-linear-gradient(left, rgba(254, 248, 0, 0), rgba(254, 248, 0, 0.5) 30%, rgba(254, 248, 0, 0));
  background: -webkit-linear-gradient(left, rgba(254, 248, 0, 0), rgba(254, 248, 0, 0.5) 30%, rgba(254, 248, 0, 0));
  background: -o-linear-gradient(left, rgba(254, 248, 0, 0), rgba(254, 248, 0, 0.5) 30%, rgba(254, 248, 0, 0));
  background: linear-gradient(left, rgba(254, 248, 0, 0), rgba(254, 248, 0, 0.5) 30%, rgba(254, 248, 0, 0));
}

.line-highlight:before {
  content: "";
  display: none;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f2f2f2;
}

h1 span {
  font-weight: 300;
}

.panel-group .panel {
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 470px) {
  .navbar .logo {
    display: none;
  }
}

iframe.fullscreen {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  height: -webkit-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  height: calc(100% - 50px);
}
