.product cite {
  font-style: italic;
  text-align: center;
  margin: auto;
  display: block;
}

.product .desc {
  text-align: justify;
}

a.product, .product a.desc {
  color: inherit;
  text-decoration: inherit;
}

a.product:hover h3, a.product:hover h4, .product a.desc:hover h3, .product a.desc:hover h4 {
  text-decoration: underline;
}

.product img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

.product h3, .product h4 {
  text-align: center;
  font-weight: 300;
}

.product .lead {
  text-align: center;
}
